@import "../../css/Colors.scss";


.user-card-wrapper :global{
  position: relative;
  min-width: 268px;
  min-height: 367px;
  max-width: 300px;
  background: $black;
  padding: 22px;
  .user-card{
    .user-name{
      font-size: 18px;
    }
    .user-role{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
    }
    .cut-1{
      width: 20px;
      height: 20px;
      background: $grey;
      position: absolute;
      top: -10px;
      left: -10px;
      transform: rotate(45deg);
    }
    .cut-2{
      width: 20px;
      height: 20px;
      background: $grey;
      position: absolute;
      bottom: -10px;
      right: -10px;
      transform: rotate(45deg);
    }
    .userpic-wrapper{
      margin-bottom: 20px;
      img{
        width: 100%;
      }
    }
    .divider{
      background: $divider;
      margin: 0;
    }
    .last-name{
      margin-left: 10px;
    }

  }
  @media only screen and (max-width: 600px) {
    min-width: 150px;
    min-height: unset;
    max-width: unset;
    padding: 10px;
  }
}
