@import "../../css/Colors.scss";


.users-page-wrapper :global{
  background: $grey;
  .ant-alert{
    position: absolute;
    width: 40%;
  }

  .users-list{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
  }

  @media only screen and (max-width: 600px) {
    .ant-layout-content{
      margin: 0!important;
    }
    .users-list{
      margin-top: 70px;
      grid-area: main;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
    }
    .site-layout-background{
      padding: 5px!important;
    }
  }
}
